.contactSection {

  width: 100%;
  height: 700px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  background: transparent;
}



/* LEFT GLOBE */
.globeContainer {

  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}


.globeImage {

  width: 480px;
  opacity: 0.5;
}



/* RIGHT SIDE */
.contactContent {

  width: 50%;

  padding-left: 40px;

  display: flex;
  flex-direction: column;
}



/* TITLE */
.contactTitle {

  font-size: 42px;
  font-weight: 600;

  color: white;

  margin-bottom: 10px;
}



/* DESCRIPTION */
.contactDescription {

  color: #9CA3AF;

  font-size: 16px;

  width: 420px;

  line-height: 1.6;

  margin-bottom: 30px;
}



/* FORM */
.contactForm {

  display: flex;
  flex-direction: column;

  gap: 15px;
}



/* INPUT */
.contactInput {

  width: 420px;
  height: 48px;

  background: #15161C;

  border: none;
  border-radius: 6px;

  padding-left: 15px;

  color: white;

  font-size: 14px;

  outline: none;
}



/* TEXTAREA */
.contactTextarea {

  width: 420px;
  height: 120px;

  background: #15161C;

  border: none;
  border-radius: 6px;

  padding: 15px;

  color: white;

  font-size: 14px;

  outline: none;

  resize: none;
}



/* BUTTON */
.contactButton {

  width: 140px;
  height: 45px;

  margin-top: 10px;

  border: none;

  border-radius: 6px;

  color: white;

  font-size: 14px;

  cursor: pointer;

  background: linear-gradient(
    135deg,
    #FF9898,
    #8054FF
  );
}
