.previewSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 50px 20px 200px 20px;

  overflow: hidden;
  background: #000;
}

.gradientBand {
  position: absolute;

  width: 200%;
  height: 1200px;

  left: 50%;
  transform: translateX(-50%);

  bottom: -250px;

  background: linear-gradient(
    90deg,
    #FF9898 20%,
    #8054FF 100%
  );

  z-index: 0;
}

.cutBottom {
  bottom: -500px;
}


/* These ellipses CUT the gradient */
.cut {
  position: absolute;

  width: 2200px;
  height: 900px;

  left: 50%;
  transform: translateX(-50%);

  border-radius: 50%;

  background: #000;
}

/* top cutter */
.cutTop {
  top: -400px;
}


/* Dark rectangle */
.dashboardCard {
  position: relative;

  width: 866px;
  height: 553px;
  max-width: 95%;

  background: rgba(19, 20, 21, 0.98);

  border-radius: 28px;

  padding: 30px;

  z-index: 2;

  box-shadow: 0 40px 120px rgba(0,0,0,0.9);
}

/* inner cards */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: #1C1D22;
  border-radius: 16px;
  height: 140px;
}

.tall {
  height: 260px;
}

.wide {
  grid-column: span 2;
}
