.orbit-section {
  width: 100%;
  height: 100vh;
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}


/* LEFT ORBIT */

.orbit-container {
  position: relative;
  width: 500px;
  height: 500px;
}


.orbit-bg {
  width: 100%;
  height: 100%;
}


/* CENTER */

.orbit-center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 90px;
  height: 90px;

  background: #1c1c22;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.orbit-center img {
  width: 40px;
}


/* ORBIT ITEMS */

.orbit-item {
  position: absolute;

  width: 60px;
  height: 60px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.orbit-item img {
  width: 50px;
  height: 50px;
}


/* positions */

.orbit-item-1 {
  top: 80px;
  left: 120px;
}

.orbit-item-2 {
  top: 120px;
  right: 80px;
}

.orbit-item-3 {
  bottom: 120px;
  left: 150px;
}

.orbit-item-4 {
  bottom: 80px;
  right: 120px;
}


/* RIGHT CONTENT */

.orbit-content {
  max-width: 500px;
}

.orbit-content h1 {
  color: white;
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.orbit-content p {
  color: #9ca3af;
  font-size: 16px;
  line-height: 1.6;
}
