.downloadButton {

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px 28px;

  min-width: 198px;
  height: 44px;

  background: linear-gradient(
    92.51deg,
    #FF9898 0.48%,
    #8054FF 100%
  );

  border-radius: 5px;

  border: none;

  color: white;
  font-size: 14px;
  font-weight: 500;

  cursor: pointer;

  white-space: nowrap;
}
