/* Gradient button */
.downloadButton {
  padding: 8px 16px;

  border: none;
  border-radius: 6px;

  font-size: 14px;
  font-weight: 500;

  color: white;

  background: linear-gradient(
    90deg,
    #ff7eb3,
    #8a5cff
  );

  cursor: pointer;

  transition: 0.3s;
}

.downloadButton:hover {
  opacity: 0.8;
}
